#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}





.card {
  /* width: 100%; */
  padding: 20px;
  width: 200px;
  background-color: aliceblue;
  color: black;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  margin: 20px;
}

.comments{
height: auto;
padding: 10px;
width: 450px;
margin-left: 50px;
margin-bottom: 5px;
color: black;
background-color: white;

opacity: 70%;
}
.read-the-docs {
  color: #888;
}

.info{
color:black;
}

/* crewmates-grid */
.crewmates-grid {

  display: grid;
  border-radius: 6px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}


#comment{

  width: 200 !important;
}
.container{
  background-color: aliceblue;
  color:black;
  width: 400px;
  opacity: 70%;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 90px;

}

.buttons{
  height: 50px;
  width: 50px;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.speed{
  margin-top: 20px;
  font-size: large;

}

.label{
  margin-bottom: 20px;
}